.landing-page-container {
    position: relative;
    top: 80px;
    .hero-container {
        margin-top: 20px;
        width: 100%;
        .title {
            font-size: 2rem;
            font-weight: 500;
            line-height: 3rem;
            span {
                font-weight: 900 !important;
            }
        }
        .subtitle {
            font-size: 1.2rem;
            margin-top: 5px;
            font-weight: 500;
            span {
                color: burlywood;
                font-weight: 700;
            }
        }

        .coupon {
            width: 110px;
            height: 110px;
            margin-top: 10px;
            background-color: red;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            div {
                font-size: 20px;
                color: #ffffff;
                font-weight: 700;
                display: block;
            }
        }
    }
    .input-container {
        margin-top: 40px;
        width: 100%;
        .image-container {
            margin-bottom: 10px;
            img {
                width: 40px;
                height: auto;
            }
        }
        .input-list {
            background-color: #ffd54f;
            border-radius: 5px;
            padding: 10px !important;
        }
    }
    .login-container {
        border: 1px solid rgb(182, 180, 180);
        padding: 20px !important;
        margin-top: 30px;
        .login {
            width: 70%;
            display: flex;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            .text {
                span {
                    color: #002984;
                    font-weight: 600;
                    margin-right: 3px;
                }
            }
            .log-button {
                color: #002984;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
    .comparison-container {
        margin-top: 30px;
        border-bottom: 1px solid rgb(182, 180, 180);
        .header {
            margin-bottom: 20px;
            .title {
                text-align: center;
                font-size: 1.9rem;
                line-height: 3rem;
                font-weight: 700;
                color: #333;
            }
        }
        .comparison-card-container {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            .card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #3f50b5;
                padding: 20px 10px 20px 10px;
                flex: 1 1 30%;
                margin-bottom: 20px;
            }
        }
    }
    .review-container {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .slider {
            width: 28%;
            .slider-item {
                padding: 10px;
            }
        }
    }

    .partners-container {
        margin-top: 50px;
        .header {
            margin-bottom: 20px;
            .title {
                text-align: center;
                font-size: 1.9rem;
                line-height: 3rem;
                font-weight: 700;
                color: #333;
            }
        }
        .partner {
            .partner-div {
                display: flex;
                justify-content: center;
                padding: 10px;
                .partner-image {
                    width: 130px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .account-container {
        margin-top: 50px;
        .header {
            margin-bottom: 20px;
            .title {
                text-align: center;
                font-size: 1.9rem;
                line-height: 3rem;
                font-weight: 700;
                color: #333;
            }
        }
        .account-menu {
            border-top: 1px solid rgb(199, 198, 198);
            padding-top: 10px;
        }
    }
    .footer-menu {
        margin-top: 50px;
        margin-bottom: 50px;
        a {
            font-size: 13px;
            color: #333;
        }
    }
}

.top {
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

@media only screen and (max-width: 768px) {
    .landing-page-container {
        .hero-container {
            margin-top: 40px !important;
            padding: 20px !important;
            .title {
                font-size: 1.2rem;
                width: 90%;
            }
            .subtitle {
                font-size: 1rem;
                width: 90%;
            }
            .coupon {
                width: 80px;
                height: 80px;
                div {
                    font-size: 1rem;
                }
            }
        }
        .login-container {
            .login {
                width: 90%;
                .text {
                    width: 70%;
                }
            }
        }
        .review-container {
            .slider {
                width: 80%;
                display: block;
                margin: auto;
            }
        }
        .partners-container {
            .partner-div {
                display: block;
                margin: auto;
                width: 90%;
            }
        }
        .account-container {
            padding: 20px !important;
            .account-item {
                padding-top: 20px;
            }
        }
        .footer-menu {
            padding: 20px !important;
        }
    }
}
